form 
{
  display: flex;
  flex-direction: column;
}

fieldset 
{
  display: flex;
  flex-direction: column;
  max-width: 760px;
}

.button-container
{
  display: inline;
}

.search
{
  width: 310.8px;
}

.bigthing
{
  display: flex;
  flex-direction: column;
  max-width: 792px;
  /* margin: inherit; */
  margin: 10px 0px;
}

.bigthing form
{
  flex-direction: row;
  justify-content: space-between;
}

textarea 
{
  width: 300px;
  min-height: 17px;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
}

h1, h2, h3
{
  margin-top: 10px;
}

.concept
{
  margin-bottom: 0px;
}

.date
{
  margin-top: 0px;
}

.entry
{
  font-weight: lighter;
  margin: 10px 0;
}